html {
  scroll-behavior: smooth;
}

.gymkhana-header {
  position: relative;
  font-size: 9vw;
  padding: 2vh 2vw;
  top: 50%;
  bottom: 50%;
}

.iit-logo-img {
  position: absolute;
  top: 0%;
  padding: 2vh 2vw;
  height: 100%;
  width: 50%;
}

section {
  width: 100%;
  height: 100vh;
  background-image: url("../images/preview.png");
}

.club-logo-img {
  height: 100%;
  width: 75%;
}
footer {
  text-align: center;
}

.center-text {
  text-align: center;
  padding: 0 5% 0 5%;
}

@media screen and (max-width: 768px) {
  .gymkhana-header {
    font-size: 15vw;
  }
  .header-div {
    text-align: center;
  }
  h3 {
    font-size: 5vw;
  }
  /* .club-logo-img {
    height: 100%;
    width: 50%;
  } */
}

