html {
  scroll-behavior: smooth;
}

.gymkhana-header {
  position: relative;
  font-size: 9vw;
  padding: 2vh 2vw;
  top: 50%;
  bottom: 50%;
}

.iit-logo-img {
  position: absolute;
  top: 0%;
  padding: 2vh 2vw;
  height: 100%;
  width: 50%;
}

.section-bg {
  width: 100%;
  height: 100vh;
  background-image: url("../images/preview.png");
}

.club-logo-img {
  height: 100%;
  width: 75%;
}
.footer {
  text-align: center;
  background-color: #e2e2e2;
  padding: 0%;
}

.center-text {
  text-align: center;
  padding: 0 5% 0 5%;
}
.about-text{
  padding-right: 50%;
  padding-left: 5%;
}

@media screen and (max-width: 1024px){
  .about-text{
    padding-right: 5%;
    padding-left: 5%;
  }
}


@media screen and (max-width: 768px) {
  .gymkhana-header {
    font-size: 15vw;
  }
  .header-div {
    text-align: center;
  }
  h3 {
    font-size: 5vw;
  }
  p{
    font-size: 4vw;
  }
}

