#about {
  color: #00FF99;
}
@keyframes glowPulseAbout {
  0%, 100% {
    text-shadow:
      0 0 5px #007BFF,
      0 0 10px #007BFF,
      0 0 20px #007BFF;
    opacity: 1;
  }
  40%,50%,60% {
    text-shadow:
      0 0 5px #007BFF,
      0 0 10px #007BFF,
      0 0 20px #007BFF;
    opacity: 1;
  }

  45%,55% {
    text-shadow: none;
    opacity: 1;
  }
}

#about h2 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  word-spacing: 10px;
  color: #ffffff;
  text-shadow:
  0 0 10px #007BFF,
  0 0 20px #007BFF;
  animation: glowPulseAbout 2s infinite ease-in-out;
}

#about img {
  filter: drop-shadow(0 0 20px rgb(0, 0, 255,0.6));
}

#about p{
  text-align: center;
  line-height: 1.6;
  max-width: 100%;
  margin-bottom: 2rem; 
  color: #00FF99;
  text-shadow:
    0 0 10px #00FF99;
}

#about .list-heading {
  display: flex;
  align-items: center;
  gap:10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

#about div.club-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}

#about .club-description{
  font-weight: 600;
  color: #ffffff;
  text-shadow:
    0 0 10px #007BFF,
    0 0 20px #007BFF;
}

#about li{ 
  margin-bottom: 1.5rem;
}

#about {
  font-size: 1.35rem;
  color: #00FF99;
  text-shadow:
    0 0 10px #00FF99;
}

.animation-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: fit-content;
  height: fit-content;
  position: relative;
}

.animation-item {
  height: 200px;
}

@keyframes go-to-right {
  0%{
    transform: translateX(-100vw) translateY(0px);
  }
  
  100%{
    transform: translateX(100vw) translateY(0px);
  }
}

@keyframes go-to-left {
  0%{
    transform: translateX(100vw) translateY(0px);
  }
  
  100%{
    transform: translateX(-100vw) translateY(0px) ;
  }
}


.animation-item.slide-to-left {
  animation: go-to-left 15s infinite alternate-reverse;
}

.animation-item.slide-to-right {
  animation: go-to-right 15s infinite;
}