/* Footer style */
.footer-wrapper{
    margin: auto;
    background: radial-gradient(circle at top left, #111111 50%, #000000 67%);
    padding: 2rem;
    font-family: Arial, sans-serif;
    color: #fff;
}

.social-icons {
    margin: 1rem 0;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #1da1f2;
    transform: scale(1.2);
}

.credits {
    margin-top: 1rem;
    font-size: 1.2rem;
    opacity: 0.8;
}

@media screen and (max-width:500px){
    .credits{
        font-size: 1rem;
    }
    .social-icons a{
        font-size: 1.5rem;
    }
}
/* --------------------------------------- */