/* Home style */
.home-wrapper{
    margin: 0 auto;
    background: url('../assets/images/hero-img.png') no-repeat bottom right;
    background-size: cover; 
    height: 100vh;
    padding: 2rem;
}

.home-container{
    margin-left: 20%;
    padding-top: 10%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: left;
    font-family: 'Neutral Face', sans-serif;
    width: 60%;
    animation: slideFromLeft 2s ease forwards;
}
.home-container p{
    font-family: 'Manrope', sans-serif;
    padding: 0px;
}
.button-group{
    font-size: 1rem;
    display: flex;
    gap: 3rem;
}
.button-group a{
    padding: 1rem;
    border: 2px solid var(--bs-text-secondary-color);
    text-decoration: none;
    border-radius: 2px;
    transition: transform 0.3s ease;
}
.button1{
    background-color: white;
    color: black;
}
.button2{
    color: white;
}
.button1:hover,.button2:hover{
    transform: scale(1.2);
}
.button-group a:active{
    background-color: #727070;
}

@keyframes slideFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width:768px){
    .button-group{
        font-size: 0.6rem;
        gap: 2rem;
    }
    .home-container{
        padding-top: 10vh;
        padding-left: 3vw;
        margin: 0px;
        width: 100%;
        font-size: 1rem;
    }
    .button1:hover,.button2:hover{
        transform: scale(1.1);
    }
}
/* ---------------------------------------------------------------------- */