/* Team style */
.team-wrapper{
    margin: 0 auto;
    background: radial-gradient(circle at top right, #222222 20%, #000000 80%);
    padding-top: 1rem;
}
.img-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-card img{
    width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;

}
.team-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    margin-bottom: 0px;
    padding: 1rem;
}
#team-heading{
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
}
.team-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 2rem;
    gap: 2rem;
}
.team-card{
    display: flex;
    gap: 1rem;
}
.detail-card{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.detail-card a{
    text-decoration: none;
    color: darkgray;
    cursor: pointer;
    transition: font-size 0.1s ease;
    font-size: 1.2rem;
}
.team-icon{
    display: flex;
    gap: 1rem;
}
.detail-card a:hover{
    transform: scale(1.3);
}
@media screen and (max-width:1000px) and (min-width:640px){
    .team-card-container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        padding: 1.5rem;
        gap: 1.5rem;
    }
}
@media screen and (max-width:640px){
    .team-card-container{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,1fr);
        padding: 1.5rem;
        gap: 1.5rem;
    }
}
/* ---------------------------------------------------------------- */