body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;

    background-color:red;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}



.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 100%;


 
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.7);
}

.threecards {
  display: flex;
  justify-content: center;
  margin: 1%;
  flex-flow: row wrap;
}

.contactimg {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: solid black;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.flip-card-back-photo {
  border-radius: 10%;
  border: solid black;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
  /*transform: translate(0%, 32%);*/
  float: right;
  height: auto;
  width: 95%;
}

.flip-card-back-text-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 60%;
}

.flip-card-back-photo-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 40%;
  justify-content: flex-end;
}

.icon-border{
  background-color: #00162d;
  border-radius: 50%;
  border: 2px solid white;
  padding: 3.5px;
  margin-top: 3%;
  margin-right: 1%;
}

@media (min-width: 600px) {
  .contactimg {
    width: 60%;
    height: 100%;
  }

  .flip-card {
    margin: 1%;
    background-color: transparent;
    width: 28vw;
    height: 35vh;
    max-height: 300px;
    perspective: 1000px;
    min-width: 400px;
  }

  .flip-card-front {
    background-color: rgba(7,22,37,255);
    background-image: url(./../images/Council/Card_front.png);
    background-size: 100% 100%;
    color: white;
    font-family: Montserrat;
    font-size: 150%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .flip-card-back {
    background-color: #2980b9;
    background-image: url(./../images/Council/Card_back.png);
    background-size: 100% 100%;
    color: white;
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
    display: flex;
  }

  .flip-card-back-text {
    margin-left: 4%;
    display: flex;
    width: 85%;
    height: 71%;
    flex-direction: column;
    justify-content: center;
  }
  .flip-card-back h2 {
    font-size: 1.6em;
    line-height: 1;
    font-family: Montserrat;
  }

  .flip-card-back h4 {
    font-size: 1.25em;
    line-height: 1.4;
    font-family: Montserrat;
  }
  .flip-card-back p {
    font-size: 0.8em;
    line-height: 1.2;
    margin-top: -4%;
    margin-bottom: 15%;
    
  }

  .flip-card-back h6 {
    font-size: 0.6em;
    line-height: 1em;
    margin-top: -25%;
    margin-bottom: 15%;
    font-family: Montserrat;
  }

  .contact1 {
    font-size: 85%;
    margin-top: -20%;
    line-height: 1em;
  }
  #long-name-email{
    font-size: 72%;
  }
}

@media (max-width: 600px) {
  .threecards {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
  }

  .flip-card {
    max-width: 400px;
    margin: 2%;
    background-color: transparent;
    width: 75%;
    height: 30vh;
    perspective: 1000px;
  }

  .flip-card-front {
    background-color: rgba(7,22,37,255);
    background-image: url(./../images/Council/Card_front.png);
    background-size: auto 100%;
    color: white;
    font-family: Montserrat;
    font-size: 4.5vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .flip-card-back {
    background-color: #2980b9;
    background-image: url(./../images/Council/Card_back.png);
    
    background-size: 100% 100%;
    color: white;
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
    display: flex;
  }
  .flip-card-back-text {
    display: flex;
    height: 72%;
    margin-left: 4%;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    
  }

  .flip-card-back h2 {
    font-size: 125%;
    
    font-family: Montserrat;
  }
  .flip-card-back h4 {
    font-size: 2.5vh;
    font-family: Montserrat;
  }
  .flip-card-back p {
    line-height: 0.1vh;
    font-size: 1.25vh;
    font-family: Montserrat;
    white-space: nowrap;
  }
  .flip-card-back h6 {
    font-size: 1vh;
    line-height: 0.1vh;
    margin-top: -4vh;
    margin-bottom: 1vh;
    font-family: Montserrat;
    white-space: nowrap;
  }
  .contact1 {
    font-size: 1vh;
    text-align: left;
    margin-top: -5vw;
    line-height: 1.5vw;
    white-space: nowrap;
  }
  #long-name-email{
    font-size: 0.8vh;
  }
}

@media (max-height: 500px) {
  .flip-card {
    width: 55vw;
    height: 30vw;
    font-size: smaller;
  }
}

.sport-club {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 5% auto;
}

.f-card {
  position: relative;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 20px;
}
.mls{
  width: 280px;
  height: 280px;
}

.f-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.f-card:hover .f-card-inner {
  transform: rotateY(180deg);
}

.f-card-front,
.f-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
}

.f-card-front {
  background-color: #bbb;
  color: black;
}

.f-card-back {
  background-image: url("../images/Council/card_back2.jpg");
  background-size: cover;
  color: black;
  transform: rotateY(180deg);
}
.f-card .f-card-inner .f-card-front img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  /* filter: grayscale(80%); */
}
.f-card .f-card-inner .f-card-front div{
  position: absolute;
  color: #cbcbcb;
  width: 100%;
  font-size: x-large;
  font-weight: bold;
  bottom: 10px;
  left: 10px;
  text-align: center;
}
.f-card .f-card-inner .f-card-back img{
  width: 60%;
  object-fit: cover;
  height: 60%;
  border-radius: 10%;
  border: 3px solid black;
  margin-top: 20px;
}
.f-card .f-card-inner .f-card-back div:nth-child(1){
  width: 100%;
  border-radius: 50%;
  font-weight: bold;
  font-size: large;
}
.f-card .f-card-inner .f-card-back div{
  width: 100%;
  border-radius: 50%;
  margin: 5% 0px;
}
.f-card .f-card-inner .f-card-back a{
  text-decoration: none;
  color: white;
  font-size: x-large;
}

#EsportsCouncil{
  display : flex;
  align-items: center;
  justify-content: center;
}
#EsportsInfo{
  max-width : 900px;
  width : 90%;
  margin : auto;
  text-align : center;
  position : static;
}
#EsportsTagline{
  margin-bottom : 30px;
  color : white;
  font-size : 2rem;
  margin-bottom : 50px;
  line-height: 1.25;
}
#EsportsLinkWrapper{
  text-align : center;
  margin-top : 50px;
}
#EsportsLink{
  color : white;
  font-size : 1.5rem;
  font-weight : bold;
  position: relative;
  text-decoration : none;
}
#EsportsLink::after{
  content : '';
  position : absolute;
  bottom : -7px;
  left : 0;
  height : 3px;
  width : 0;
  background-color: white;
  transition: 0.5s ease;
}
#EsportsLink:hover::after{
  width : 100%;
}

@media screen and (max-width:450px){
  #EsportsTagline{
    font-size : 1.4rem;
  }
  #EsportsLink{
    font-size : 1.4rem;
  }
}