@import "https://fonts.googleapis.com/css?family=Alice&display=swap";
/* main class */
*{
  box-sizing: border-box;
}
.Events {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  padding: 3rem 1rem;
  gap: 1.5rem;
  box-sizing:border-box;
}

/*attributes for boxes */
.box {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  transition: transform .3s ease;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
}

/* image attributes*/
.img-container img {
  width: 350px;
  height: 250px;
  object-fit: contain;
  border-radius: 15px;
  aspect-ratio: 2/2;
}


.title-style {
  font-size: 2rem;
  font-family: 'Alice', serif;;
  font-style: normal;
  text-align: center;
  color: white;
}
.Events a{
  text-decoration: none;
}

.box:hover {
  transform: scale(1.1);
}
.text-size{
  font-size: 1rem !important;
}
.chakravyuh-list{
  color: black !important;
}
.fic-right{
  overflow: scroll;
  background-color: white !important;
}

@media screen and (max-width:768px){
  .Events{
    gap: 1rem;
  }
  .box{
    margin: auto;
  }
  .img-container img{
    width: 300px;
    height: 250px;
  }
}