body{
 background: transparent;

}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  
  border: solid px #01006A;
  
  transition: all ease 0.05s;
  
  animation: spin 1s linear infinite;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
    box-shadow: -0.5px 1px 0.5px #01006A, inset 3px -3px 1px #01006A;  
  }
  
  33%{
    transform: rotate(120deg);
    box-shadow: -0.5px 1px 0.5px #01006A, inset 3px -3px 1px #01006A;
  }
  
  66%{
    transform: rotate(240deg);
    box-shadow: -0.5px 1px 0.5px #01006A, inset 3px -3px 1px #01006A;
  }
   100%{
    transform: rotate(360deg);
    box-shadow: -0.5px 1px 0.5px #01006A, inset 3px -3px 1px #01006A;
  }
}
.logo img{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
  height: 150px;
  width: 150px;
}